.myCard {
  min-width: 282px;
  max-width: 282px;
  height: 300px;
  background-color: transparent;
  margin: 10px;
 
}
.productCarousel {
  position: relative;
  overflow: hidden;
  padding: 26px;
}
/* .productContainer{
    padding: 0 10px;
   display: flex;
   overflow-x: hidden;
   scroll-behavior: smooth;
} */
.preBtn {
  width: 60px;
  height: 100%;
  color: gray;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  left: 0;
  margin-left: -18px;
}
.preBtn:hover {
  color: #55ae44;
}
.nextBtn {
  width: 60px;
  height: 100%;
  position: absolute;
  right: 0;
  color: gray;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: -18px;
}
.nextBtn:hover {
  color: #55ae44;
}
.preBtnP {
  font-size: 30px;
  /* background-color: rgba(240, 236, 236, 0.452); */
  border-radius: 50%;
  padding: 0 10px;
}
.nextBtnP {
  font-size: 30px;
  /* background-color: rgba(240, 236, 236, 0.452); */
  border-radius: 50%;
  padding: 0 10px;
}
