.stickyCartHeader {
  color: white;
  cursor: pointer;
  width: 70px;
  background: #f5fceb;
  right: 0;
  box-shadow: 0 0 16px -1px rgb(0 0 0 / 75%);
  transition: 0.1s ease-in-out;
  opacity: 0.7;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.stickyCartHeader:hover{
  opacity: 0.9;
}

.timeCountWrapper {
  background: #55584d;
  padding: 5px 0px;
  color: #fdd670;
  width: 100%;
}
.itemCount {
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
}
.total {
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-size: 13px;
  padding: 3px 0px;
  background-color: transparent;
  color: #615e58;
}
.shoppingCartWrapper{
  width: 370px;
  height:100vh;
  position: fixed;
  top: 82px;
  bottom: 0;
  background-color: white;
  box-shadow: 0 0 16px -1px rgb(0 0 0 / 35%);
  right: 0;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .shoppingCartWrapper{
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
}